/* blog ------------------------------- */

.blog {
	section {
		&.picture-header {
			padding: 0;
			border: 0;
			background-color: $section-bg-blog;
			background-image: url("#{$layout-image-path}/section-bg-blog.png");
			.image {
				background-image: url("#{$pictures-image-path}/dave-at-agencyport-11.jpg");
			}
		}
	}
	
	article {
		margin-bottom: $spacer-base;
		position: relative;
		&:last-child {
			border-bottom: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
    
		a {
			&.overlay {
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
			}
		}
		
		.picture-wrapper {
			&.left {
				margin-right: 1.5rem;
			}
		}
		
		figure {
			margin-bottom: .75rem;
			border: 0;
			padding: 0;
			position: relative;
			a {
				img {
					border: $border-default;
				}
				&:hover {
					img {
						border-color: $link-color;
					}
				}
			}
			p {
				position: static;
				padding: 0;
				margin-bottom: 0;
				color: $picture-caption-color;
				a {
					color: $picture-caption-link;
				}
				strong {
					color: $picture-caption-strong;
				}
			}
			figcaption {
				position: relative;
				.caption-credit {
					display: flex;
					-js-display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: flex-end;
					position: absolute;
					top: 3px;
					left: -22px;
					transform-origin: left top;
					transform: rotate(-90deg);
					font-size: 12px;
					text-transform: none;
					color: #aaa;
					font-style: italic;
					text-align: right;
					font-weight: 600;
					&:before {
						content: "";
						position: relative;
						transform: rotate(90deg);
						background-image: url("");
						width: 12px;
						height: 12px;
						margin-right: 4px;
					}
				}
			}
		}
		
		header {
			margin-bottom: $spacer-small;
			border-bottom: none;
			
			h1 {
				font-size: $h1-font-size;
			}
			h2 {
				font-size: $h4-font-size;
			}
			h3 {
				font-size: $h2-font-size;
				.book-title {
					font-family: inherit;
				}
			}
			.excerpt {
			}			
			.byline {
				font-size: $font-size-small;
				text-align: left;
				margin-bottom: 0;
				.author {
					font-family: $font-family-headers;
					margin-right: $spacer-small;
				}
				.date {
					a {
						font-family: $font-family-base;
					}
					time {
						&.entry-date {}
						&.updated {
							display: none;
						}
					}
				}
			}
		}
		footer {
			&.blog-footer {
				display: none;
				border: 0;
			}
		}
		
		.content-summary {
			font-size: $h2-font-size;
		}
	}
	
	.latest {
		margin-bottom: $spacer-base;
	}
	.top-image {
		margin-top: 1rem;
	}
	
	aside {
		line-height: 1.25rem;
		padding-bottom: $spacer-large;
		a {
			font-family: $font-family-base;
		}
		dl {
			border-top: $border-default;
			padding-top: $spacer-base;
			margin-bottom: $spacer-large;
			dt {
				margin-bottom: $spacer-xs;
				font-size: $h4-font-size;
			}
			dd {
				&.active {
					a {
						font-family: $font-family-italic;
						color: $gray-light;
						cursor: default;
					}
				}
			}
		}
		
		.links {
			.template,
			.comic-book-history, 
			.film-and-television, 
			.doctor-who {
				display: none;
			}
		}
	}
	.sticky-top {
		top: $main-nav-height + $spacer-base;
	}
	
	&.index {
		article {
			clear: both;
			figure {
				&.unboxed {
					text-align: center;
					float: none !important;
					img {
						max-height: 9rem;
						margin: 0 auto;	
					}
				}
				img {
					margin-bottom: 0;
				}
			}
			header {
				border-bottom: 0;	
				margin-bottom: 0;
				h3 {
					font-size: $h3-font-size;
					margin-bottom: 0;
				}
				.excerpt {
					text-align: left;
					margin-bottom: .5rem;
				}
				.byline {
				}
			}		
		}
		.older {
			background: $section-bg-blog-even;
			padding: 1rem 2rem;
			margin-bottom: 2rem;
			clear: both;
			h2 {
				border-bottom: $border-default;
				padding-bottom: $spacer-small;
				margin-bottom: $spacer-base;
			}
			article {
				display: inline-block;
				figure {
					float: left;
					width: 20%;
					margin-right: $spacer-large;
					margin-bottom: 0;
				}
				header {
					float: left;
					width: 73%;
				}	
			}	
		}
	}
}
