/* html elements ---------------------- */

html {
	position: relative;
	min-height: 100%;  
	scroll-padding-top: $main-nav-height;
}
body {
	background: $body-bg;
	padding-top: $main-nav-height; 
	font-family: $font-family-base;
	font-size: $font-size-base;
	color: $text-color;
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: normal;
	color: $headings-color;
	font-family: $font-family-headers;
}

h1, .h1 {
	font-size: $h1-font-size;
}
h2, .h2 {
	font-size: $h2-font-size;
}
h3, .h3 {
	font-size: $h3-font-size;
}
h4, .h4 {
	font-size: $h4-font-size;
}
h5, .h5 {
	font-size: $h5-font-size;
}
h6, .h6 {
	font-size: $h6-font-size;
}

a {
	color: $link-color;
	text-decoration: none;
	background-color: transparent;
	font-weight: normal;
	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
	&:active {
		color: $link-active-color;
	}
	img {
		border: $link-img-border;
	}
	
	&:hover {
		img {
			border-color: $link-img-border-hover-color;
			filter: $link-img-filter;
		}
	}
	&:active {
		img {
			border-color: $link-img-border-active-color;
		}
	}
}

img {
    max-width: 100%;
    height: auto;
}

hr {
	border-top: $border-default;
	margin: $hr-margin auto;
	opacity: 1;
}

ul {
	padding-left: 1rem;
}

dl {
	margin-bottom: $spacer-base;
	dt {
		font-family: $font-family-headers;
		font-weight: normal;
		text-transform: uppercase;
		color: $headings-color;
		padding-bottom: $spacer-small;
		margin-bottom: $spacer-base;				
		border-bottom: $border-default;
		line-height: 1.1rem;
		span {
			display: inline-block;
			font-family: $font-family-base;
			text-transform: none;
			color: $text-color;
			margin-top: .5rem;
		}
	}
	&.pullquote {
		padding: $pullquote-padding;
		margin-bottom: $pullquote-margin;
		dt {
			font-family: $pullquote-quote-font-family;
			font-size: $pullquote-quote-font-size;
			line-height: $pullquote-quote-line-height;
			color: $pullquote-quote-color;
			text-transform: none;
			border: 0;
			padding: 0;
			margin-bottom: $spacer-base;
			strong {
				font-family: $pullquote-quote-font-family-bold;
				color: $pullquote-quote-color;
			}
		}
		dd {
			font-family: $pullquote-speaker-font-family;
			font-size: $pullquote-speaker-font-size;
			color: $pullquote-speaker-color;
			line-height:$pullquote-speaker-line-height;
		}
	}
	&.compact {
		dd {
			margin-bottom: 0;
		}
	}
}

ul, ol {
	padding-left: 1rem;
	&.two-column {
		column-count: 2;
		column-gap: 3rem;
	}	
	&.three-column {
		column-count: 3;
		column-gap: 3rem;
	}	
	&.four-column {
		column-count: 4;
		column-gap: 3rem;
	}	
}


strong, bold {
	font-family: $font-family-headers;
	font-weight: normal;
}

table, .table {
	width: 100%;
	color: $text-color;
	background: none;
	th, td {
		border-color: $table-border-color;
		&:first-child {
			padding-left: 0;
		}
	}
	th {
		font-family: $font-family-headers;
	}
	&.table-no-padding, 
	&.no-padding  {
		th, td {
			padding: 0;
		}
	}
	caption {
		display: none;
	}
	> :not(:last-child) > :last-child > * {
		border-bottom-color: $table-border-color;
	}
	thead {
		th {
			border-bottom-width: rem(2px);
		}
	}
	tfoot {
		th, td {
			border-bottom: 0;
			padding: 0;
			p {
				margin-bottom: 0;
			}
		}
		
	}
}

blockquote {
	font-family: $font-family-italic;
	padding: 0 $spacer-large;
	h4 {
		font-family: $font-family-italic;
		line-height: 2rem;
	}
}

/* picture-figure text wrapping ------- */

.picture-wrapper, figure {
	position: relative !important;
	margin-bottom: $spacer-base-vertical;
	border-bottom: $border-default;
	
	picture {}
	figcaption {
		margin-bottom: $spacer-small;
	}

	&.full {
		img {
			width: 100%;
		}
	}
	&.left, &.float-start {
		float: left;
		margin-right: 2rem;
	}
	&.right, &.float-end {
		float: right;
		margin-left: 2rem;
	}
	
	&.centered {
		text-align: center;
		img {
			margin: 0 auto .5rem;
		}
		p {
			text-align: left;
		}
	}
	img {
		margin-bottom: .5rem;
	}
	color: $picture-caption-color;
	a {
		color: $picture-caption-link;
	}
	strong {
		color: $picture-caption-strong;
	}
	p {
		margin-bottom: 0;
		font-family: $font-family-italic;
		line-height: 1rem;
		font-size: $font-size-small;
	}
	&.has-border, &.images-have-border {
		img {
			border: $border-default;
		}
	}
	&.has-frame {
		img {
			border: $border-default;
			background: white;
			padding: .5rem;
		}
	}
	&.no-border {
		border: 0;
	}	
}
@media (max-width: 640px) { 
	.picture-wrapper {
		&.half, &.third, &.quarter, img {
			width: 100%;
		}
	}
}

.img-wrapper {
	text-align: center;
	img {
		margin: 0 auto;
	}
}

italic, em {
	font-family: $font-family-italic;
	font-style: normal;
}
bold, strong {
	font-family: $font-family-bold;
	font-weight: normal;
}

pre {
	color: $code-color;
	font-family: $code-font;
	background: $item-bg;
	padding: $spacer-base $spacer-large;
	white-space: pre-wrap;
	strong {
		color: $code-color-green;
	}
}


