/* html elements ---------------------- */

html {
	position: relative;
	min-height: 100%;  
	scroll-padding-top: $main-nav-height;
}
body {
	background: $body-bg;
	padding-top: $main-nav-height; 
	font-family: $font-family-base;
	font-size: $font-size-base;
	color: $text-color;
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: normal;
	color: $headings-color;
	font-family: $font-family-headers;
}

h1, .h1 {
	font-size: $h1-font-size;
}
h2, .h2 {
	font-size: $h2-font-size;
}
h3, .h3 {
	font-size: $h3-font-size;
}
h4, .h4 {
	font-size: $h4-font-size;
}
h5, .h5 {
	font-size: $h5-font-size;
}
h6, .h6 {
	font-size: $h6-font-size;
}

a {
	color: $link-color;
	text-decoration: none;
	background-color: transparent;
	font-weight: normal;
	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
	&:active {
		color: $link-active-color;
	}
	img {
		border: $link-img-border;
	}
	
	&:hover {
		img {
			border-color: $link-img-border-hover-color;
			filter: brightness(110%) saturate(110%);
		}
	}
	&:active {
		img {
			border-color: $link-img-border-active-color;
		}
	}
}

img {
    max-width: 100%;
    height: auto;
}

hr {
	background: $gray-light-medium;
	display: block;
	position: relative;
	padding: 0;
	margin: $hr-margin auto;
	height: 0;
	width: 100%;
	max-height: 0;
	font-size: 1px;
	line-height: 0;
	clear: both;
}

ul {
	padding-left: 3rem;
}

dl {
	margin-bottom: $spacer-base;
	dt {
		font-family: $font-family-headers;
		font-weight: normal;
		margin-bottom: $spacer-small;
	}
}

strong, bold {
	font-family: $font-family-headers;
	font-weight: normal;
}

table, .table {
	width: 100%;
	color: $text-color;
	th, td {
		border-color: $table-border-color;
		&:first-child {
			padding-left: 0;
		}
	}
	th {
		font-family: $font-family-headers;
	}
	&.table-no-padding, 
	&.no-padding  {
		th, td {
			padding: 0;
		}
	}
	caption {
		display: none;
	}
	> :not(:last-child) > :last-child > * {
		border-bottom-color: $table-border-color;
	}
	thead {
		th {
			border-bottom-width: rem(2px);
		}
	}
	
	tfoot {
		th, td {
			border-bottom: 0;
			padding: 0;
			padding: 1rem 0;
			margin-bottom: 2rem;
			p {
				margin-bottom: 0;
			}
		}
		
	}
}

blockquote {
	font-family: $font-family-italic;
	padding: 0 $spacer-large;
	h4 {
		font-family: $font-family-italic;
		line-height: 2rem;
	}
}

figure {
	img {
		margin-bottom: $spacer-small;
	}
}

italic, em {
	font-family: $font-family-italic;
	font-style: normal;
}
bold, strong {
	font-family: $font-family-bold;
	font-weight: normal;
}

pre {
	color: $code-color;
	font-family: $code-font;
	background: $item-bg;
	padding: $spacer-base $spacer-large;
	strong {
		color: $code-color-green;
	}
}


