/* illustration ----------------------- */

.illustration {
	section {
		&.picture-header {
			background-color: $section-bg-illustration;
			background-image: url("#{$layout-image-path}/section-bg-illustration.png");
			.image {
				background-image: url("#{$pictures-image-path}/inky-studio-2.jpg");
				background-position: 0 center;
			}
		}		
	}
}

/* illustration ----------------------- */
.mas-content.illustration {
}
.gallery .christian-science-monitor-spots .frame {
	background-image: url("../../img/illustration/christian-science-monitor-spots.jpg")
}
.gallery .computerworld-atlas .frame {
	background-image: url("../../img/illustration/computerworld-atlas.jpg")
}
.gallery .computerworld-spots-color .frame {
	background-image: url("../../img/illustration/computerworld-spots-color.jpg")
}
.gallery .computerworld-spots-thick-outlines .frame {
	background-image: url("../../img/illustration/computerworld-spots-thick-outlines.jpg")
}
.gallery .computerworld-spots-thin-outlines .frame {
	background-image: url("../../img/illustration/computerworld-spots-thin-outlines.jpg")
}
.gallery .datamation-spots .frame {
	background-image: url("../../img/illustration/datamation-spots.jpg")
}
.gallery .dsm-bostonia-political-scar .frame {
	background-image: url("../../img/illustration/dsm-bostonia-political-scar.jpg")
}
.gallery .dsm-catcher-in-the-rye .frame {
	background-image: url("../../img/illustration/dsm-catcher-in-the-rye.jpg")
}
.gallery .dsm-dead-smurf .frame {
	background-image: url("../../img/illustration/dsm-dead-smurf.jpg")
}
.gallery .dsm-haroun .frame {
	background-image: url("../../img/illustration/dsm-haroun.jpg")
}
.gallery .dsm-lady-libertys-night-off .frame {
	background-image: url("../../img/illustration/dsm-lady-libertys-night-off.jpg")
}
.gallery .dsm-normal-jean .frame {
	background-image: url("../../img/illustration/dsm-normal-jean.jpg")
}
.gallery .dsm-speaker-of-the-housed .frame {
	background-image: url("../../img/illustration/dsm-speaker-of-the-housed.jpg")
}
.gallery .dsm-spots-local-newspapers .frame {
	background-image: url("../../img/illustration/dsm-spots-local-newspapers.jpg")
}
.gallery .dsm-spots-paris .frame {
	background-image: url("../../img/illustration/dsm-spots-paris.jpg")
}
.gallery .dsm-spots-technical .frame {
	background-image: url("../../img/illustration/dsm-spots-technical.jpg")
}
.gallery .dsm-talking-dream .frame {
	background-image: url("../../img/illustration/dsm-talking-dream.jpg")
}
.gallery .houghton-mifflin-spots .frame {
	background-image: url("../../img/illustration/houghton-mifflin-spots.jpg")
}
.gallery .ims-globe .frame {
	background-image: url("../../img/illustration/ims-globe.jpg")
}
.gallery .jewish-advocate-target .frame {
	background-image: url("../../img/illustration/jewish-advocate-target.jpg")
}
.gallery .mcgraw-hill-guias .frame {
	background-image: url("../../img/illustration/mcgraw-hill-guias.jpg")
}
.gallery .mcgraw-hill-systematic .frame {
	background-image: url("../../img/illustration/mcgraw-hill-systematic.jpg")
}
.gallery .midnight-oil-studios-mlbx .frame {
	background-image: url("../../img/illustration/midnight-oil-studios-mlbx.jpg")
}
.gallery .midnight-oil-work-ethic .frame {
	background-image: url("../../img/illustration/midnight-oil-work-ethic.jpg")
}
.gallery .ne-business-seabrook .frame {
	background-image: url("../../img/illustration/ne-business-seabrook.jpg")
}
.gallery .reader-rabbit-illustration .frame {
	background-image: url("../../img/illustration/reader-rabbit-illustration.jpg")
}
.gallery .world-times-circus .frame {
	background-image: url("../../img/illustration/world-times-circus.jpg")
}
.gallery .please-wait .frame {
	background-image: url("../../img/illustration/please-wait.gif")
}
.gallery .FOO .frame {
	background-image: url("../../img/illustration/FOO.jpg")
}
.gallery .FOO .frame {
	background-image: url("../../img/illustration/FOO.jpg")
}


@media (max-width: 991.98px) { 
	.illustration  {
	}
}

