/* illustration ----------------------- */

.illustration {
	section {
		&.picture-header {
			background-color: $section-bg-illustration;
			background-image: url("#{$layout-image-path}/section-bg-illustration.png");
			.image {
				background-image: url("#{$pictures-image-path}/inky-studio-2.jpg");
				background-position: 0 center;
			}
		}		
	}
	&.friday {
		section {
			&.picture-header {
				.image {
					background-image: url("#{$pictures-image-path}/inky-studio-8.jpg");
				}
			}
		}
	}
}


/* illustration ----------------------- */
.mas-content.illustration {
}
.gallery .christian-science-monitor .frame {
	background-image: url("#{$illustration-image-path}/christian-science-monitor.jpg")
}
.gallery .computerworld-atlas .frame {
	background-image: url("#{$illustration-image-path}/computerworld-atlas.jpg")
}
.gallery .computerworld-color .frame {
	background-image: url("#{$illustration-image-path}/computerworld-color.jpg")
}
.gallery .computerworld-thick-outlines .frame {
	background-image: url("#{$illustration-image-path}/computerworld-thick-outlines.jpg")
}
.gallery .computerworld-thin-outlines .frame {
	background-image: url("#{$illustration-image-path}/computerworld-thin-outlines.jpg")
}
.gallery .datamation-spots .frame {
	background-image: url("#{$illustration-image-path}/datamation-spots.jpg")
}
.gallery .self-imposed-political-scar .frame {
	background-image: url("#{$illustration-image-path}/self-imposed-political-scar.jpg")
}
.gallery .bop-city .frame {
	background-image: url("#{$illustration-image-path}/bop-city.jpg")
}
.gallery .dead-smurf .frame {
	background-image: url("#{$illustration-image-path}/dead-smurf.jpg")
}
.gallery .haroun-and-the-sea-of-stories .frame {
	background-image: url("#{$illustration-image-path}/haroun-and-the-sea-of-stories.jpg")
}
.gallery .lady-libertys-night-off .frame {
	background-image: url("#{$illustration-image-path}/lady-libertys-night-off.jpg")
}
.gallery .normal-jean .frame {
	background-image: url("#{$illustration-image-path}/normal-jean.jpg")
}
.gallery .speaker-of-the-housed .frame {
	background-image: url("#{$illustration-image-path}/speaker-of-the-housed.jpg")
}
.gallery .newspaper-op-ed .frame {
	background-image: url("#{$illustration-image-path}/newspaper-op-ed.jpg")
}
.gallery .paris-vacation .frame {
	background-image: url("#{$illustration-image-path}/paris-vacation.jpg")
}
.gallery .technical-illustration .frame {
	background-image: url("#{$illustration-image-path}/technical-illustration.jpg")
}
.gallery .talking-dream .frame {
	background-image: url("#{$illustration-image-path}/talking-dream.jpg")
}
.gallery .houghton-mifflin .frame {
	background-image: url("#{$illustration-image-path}/houghton-mifflin.jpg")
}
.gallery .ims-globe .frame {
	background-image: url("#{$illustration-image-path}/ims-globe.jpg")
}
.gallery .jewish-advocate-target .frame {
	background-image: url("#{$illustration-image-path}/jewish-advocate-target.jpg")
}
.gallery .mcgraw-hill-guias .frame {
	background-image: url("#{$illustration-image-path}/mcgraw-hill-guias.jpg")
}
.gallery .mcgraw-hill-systematic .frame {
	background-image: url("#{$illustration-image-path}/mcgraw-hill-systematic.jpg")
}
.gallery .midnight-oil-studios-mlbx .frame {
	background-image: url("#{$illustration-image-path}/midnight-oil-studios-mlbx.jpg")
}
.gallery .midnight-oil-studios-work-ethic .frame {
	background-image: url("#{$illustration-image-path}/midnight-oil-studios-work-ethic.jpg")
}
.gallery .new-england-business-seabrook .frame {
	background-image: url("#{$illustration-image-path}/new-england-business-seabrook.jpg")
}
.gallery .reader-rabbit-illustration .frame {
	background-image: url("#{$illustration-image-path}/reader-rabbit-illustration.jpg")
}
.gallery .world-times-circus .frame {
	background-image: url("#{$illustration-image-path}/world-times-circus.jpg")
}
.gallery .please-wait .frame {
	background-image: url("#{$illustration-image-path}/please-wait.gif")
}


.gallery .ask-kodiak-campaign .frame {
	background-image: url("#{$illustration-image-path}/ask-kodiak-campaign.jpg")
}

.gallery .ask-kodiak-cover-1 .frame {
	background-image: url("#{$illustration-image-path}/ask-kodiak-cover-1.jpg")
}
.gallery .ask-kodiak-cover-2 .frame {
	background-image: url("#{$illustration-image-path}/ask-kodiak-cover-2.jpg")
}
.gallery .ask-kodiak-model-sheet-1 .frame {
	background-image: url("#{$illustration-image-path}/ask-kodiak-model-sheet-1.jpg")
}
.gallery .ask-kodiak-model-sheet-2 .frame {
	background-image: url("#{$illustration-image-path}/ask-kodiak-model-sheet-2.jpg")
}
.gallery .ask-kodiak-model-sheet-3 .frame {
	background-image: url("#{$illustration-image-path}/ask-kodiak-model-sheet-3.jpg")
}
.gallery .ask-kodiak-model-sheet-4 .frame {
	background-image: url("#{$illustration-image-path}/ask-kodiak-model-sheet-4.jpg")
}
.gallery .ask-kodiak-model-sheet-5 .frame {
	background-image: url("#{$illustration-image-path}/ask-kodiak-model-sheet-5.jpg")
}
.gallery .ask-kodiak-model-sheet-6 .frame {
	background-image: url("#{$illustration-image-path}/ask-kodiak-model-sheet-6.jpg")
}
.gallery .ask-kodiak-whitepaper-1 .frame {
	background-image: url("#{$illustration-image-path}/ask-kodiak-whitepaper-1.jpg")
}
.gallery .ask-kodiak-whitepaper-2 .frame {
	background-image: url("#{$illustration-image-path}/ask-kodiak-whitepaper-2.jpg")
}


/* illustration friday ---------------- */

.gallery .wind-central-squared .frame {
	background-image: url("#{$illustration-friday-image-path}/wind.jpg")
}
.gallery .smoke-crackhouse .frame {
	background-image: url("#{$illustration-friday-image-path}/smoke.jpg")
}
.gallery .invention-metropolis .frame {
	background-image: url("#{$illustration-friday-image-path}/invention-metropolis.jpg")
}
.gallery .might-punch .frame {
	background-image: url("#{$illustration-friday-image-path}/might.jpg")
}
.gallery .mask-whiteface .frame {
	background-image: url("#{$illustration-friday-image-path}/mask-whiteface.jpg")
}
.gallery .mask-klan .frame {
	background-image: url("#{$illustration-friday-image-path}/mask-klan.jpg")
}
.gallery .buzz-coffee .frame {
	background-image: url("#{$illustration-friday-image-path}/buzz-coffee.jpg")
}
.gallery .buzz-coffee-stain .frame {
	background-image: url("#{$illustration-friday-image-path}/buzz-coffee-stain.jpg")
}
.gallery .buzz-bugaloo .frame {
	background-image: url("#{$illustration-friday-image-path}/buzz-bugaloo.jpg")
}
.gallery .peace-shagged .frame {
	background-image: url("#{$illustration-friday-image-path}/peace-shagged.jpg")
}
.gallery .eighties-yearbook-cover .frame {
	background-image: url("#{$illustration-friday-image-path}/eighties.jpg")
}
.gallery .red-killer .frame {
	background-image: url("#{$illustration-friday-image-path}/red-killer.jpg")
}
.gallery .red-killer-edits .frame {
	background-image: url("#{$illustration-friday-image-path}/red-killer-edits.jpg")
}
.gallery .rejection-love-song .frame {
	background-image: url("#{$illustration-friday-image-path}/rejection.jpg")
}
.gallery .geek-trick .frame {
	background-image: url("#{$illustration-friday-image-path}/geek-trick.jpg")
}


/* illustration template -------------- */

.gallery .FOO .frame {
	background-image: url("#{$illustration-image-path}/FOO.jpg")
}


@media (max-width: 991.98px) { 
	.illustration  {
	}
}

