/* layout ----------------------------- */

section {
	padding: $section-padding-large;
	background: $section-bg no-repeat 110% center;
	
	&.intro {
		background-color: $section-intro-bg;
	}
	&.even {
		background-color: $section-bg-even;
		.item, .client-details {
			background: $item-even-bg;
		}
	}	
	&.no-padding {
		padding: 0;
	}
	&.picture-header {
		padding: 0;
		.image {
			background: 0 0 no-repeat;
			background-size: cover;
			height: 100%;
			background-image: url("#{$pictures-image-path}/dave-at-cvs-innovation-7.jpg");
		}
		.text {
			font-size: $h4-font-size;
			padding: $padding-large-vertical $padding-large-horizontal;
			margin-bottom: 0;
		}
	}		
}

.sidebar {
	.item {
		margin-bottom: 1rem;
	}
}

.skills, .capabilities {
	min-height: 20rem;
}

.lightboxOverlay {
	background-color: $lightbox-overlay-background;
}

.lightbox {
	.lb-image {
	  border-radius: $lightbox-border-radius;
	  border: $lightbox-image-border;
	}
	.lb-nav {
	}
	.lb-dataContainer {
		border-bottom-left-radius: $lightbox-border-radius;
		border-bottom-right-radius: $lightbox-border-radius;
		.lb-data {
			padding: $lightbox-data-padding;
			color: $lightbox-data-color;
			.lb-details {
				width: $lightbox-details-width;
				.lb-caption {
					font-size: $lightbox-header-font-size;
					line-height: $lightbox-text-line-height;
					font-weight: $lightbox-header-font-style;
					color: $lightbox-header-color;
					a {
						color: $lightbox-link-color;
						&:hover {
							color: $lightbox-link-hover-color;
						}
						&:active {
							color: $lightbox-link-active-color;
						}
					}	
				}
				.lb-number {
				  font-size: $lightbox-text-font-size;
				  color: $lightbox-text-color;
				}
			}
			.lb-close {
				width: $lightbox-close-icon-size;
				height: $lightbox-close-icon-size;
				background-size: $lightbox-close-icon-size;
			}
		}
	}		
}

.book-title, 
.magazine-title, 
.art-title, 
.show-title, 
.tv-show-title, 
.company-name {
	font-family: $font-family-italic;
}

h1, h2, h3, h4, blockquote {
	.book-title, 
	.magazine-title, 
	.art-title, 
	.show-title, 
	.tv-show-title, 
	.company-name {
		font-family: $font-family-bold-italic;
	}
}

/* picture-figure text wrapping ------- */

.picture-wrapper {
	position: relative;
	margin-bottom: $spacer-base-vertical;
	&.left {
		float: left;
		margin-right: 2rem;
	}
	&.right {
		float: right;
		margin-left: 2rem;
	}
	&.half {
		width: 50%;
	}
	&.third {
		width: 33%;
	}
	&.quarter {
		width: 25%;
	}
	&.centered {
		text-align: center;
		.figure-caption, p {
			text-align: left;
		}
		&.full-width {
			img {
				width: 100%;
			}
		}
	}
	&.full-width {
		img {
			width: 100%;
		}
	}
	img {
		margin-bottom: .5rem;
	}
}

figure {
	border-bottom: $border-default;
	padding-bottom: .5rem;
	.figure-caption {
		text-align: left;
	}
}

.modal {
	.modal-body {
		figure {
			margin-bottom: 0;
		}
	}
}

.text-page {
	.intro {
		border-bottom: $border-default;
		padding-bottom: $spacer-base;
		margin-bottom: 0;
	}
	.text {
		margin-bottom: $spacer-base;
	}
	@media (min-width: 1200px) and (max-width: 991px), (min-width: 992px) {
		.container, .author-notes {
			max-width: 60rem;
		}
		.author-notes {
		  padding-right: ($grid-gutter-width * 0.5);
		  padding-left: ($grid-gutter-width * 0.5);
		}
	}
}

.centered {
	text-align: center;
	img {
		margin: 0 1rem 1rem 0;
	}
}


/* safe image (social media img) ------ */

img {
	&.social-media-preview {
		display: none;
	}
}
