/* main-navigation -------------------- */

.main-navigation {
	.skip-link {
		color: $white;
		font-size: .75rem;
		&.sr-only-focusable:focus, 
		&.sr-only-focusable:active {
			position: absolute;
			top: .5rem;
			z-index: 2;
			left: 1rem;
		}
	}
	.navbar-brand  {
		font-size: $navbar-brand-font-size;
		padding: $navbar-brand-padding;
		color: $navbar-brand;
		display: flex;
		width: $main-nav-brand-width;
		text-indent: $text-indent-for-image;
		margin: $main-nav-brand-margin;
		.mas-logo {
			background: no-repeat 0 center;
			background-size: contain;
			height: $main-nav-brand-height;			
			&.gliff {
				background-image: url("#{$layout-image-path}/navbar-brand-gliff.png");
				width: 4rem;
				margin-right: 1rem;
			}
			&.type {
				background-image: url("#{$layout-image-path}/navbar-brand-type.png");
				width: 20rem;
			}
		}
		&:hover {
			.mas-logo {
				filter: $navbar-brand-logo-filter-hover;
				&.type {
					filter: $navbar-brand-type-filter-hover;
				}
			}
		}
		&:active {
			color: $navbar-brand-active;
		}
	}
	.navbar {
		padding: $main-navbar-padding;
		border-bottom: $main-nav-border;
		background: $main-nav-bg;
		.navbar-nav {
			.nav-link {
				color: $nav-link-color;
				background: $nav-link-bg;
				border: $nav-link-border;
				padding: .25rem .5rem;
				border-radius: .25rem;
				margin: 0 .25rem;
				&:hover {
					color: $nav-link-hover-color;
					background: $nav-link-hover-bg;
					border-color: $nav-link-hover-border-color;
				}
				&:active {
					color: $nav-link-active-color;
					background: $nav-link-active-bg;
					border-color: $nav-link-active-border-color;
				}
			}
			.active>.nav-link, 
			.nav-link.active, 
			.nav-link.show, 
			.show>.nav-link {
				color: $nav-link-curr-color;
				background: $nav-link-curr-bg;
				border-color: $nav-link-curr-border-color;
				font-family: $font-family-headers;
			}
		}
		.navbar-toggler {
			border: rem(1px solid);
			border-color: transparentize(white, 0.7);
			padding: 0.15rem 0.25rem;
		
			.navbar-toggler-icon {
				color: $white;
				line-height: 1.9rem;
				&:before {
					font-family: 'Font Awesome Solid';
					font-size: 1.5rem;
					content: $navbar-toggler-icon;
				}
			}	
		}		
	}
}




