// Marshall Art Studio variables -------------------------------------- //


/* spacing --------------------------- */

$spacer: 									1rem;
$spacer-base:								$spacer;
$spacer-large:								$spacer-base * 2;
$spacer-small:								$spacer-base/2;
$spacer-xs:									$spacer-base/4;

$spacer-base-vertical:						$spacer-base;
$spacer-base-horizontal:					$spacer-base-vertical * 2;

$spacer-large-vertical:						$spacer-large;
$spacer-large-horizontal:  					$spacer-large-vertical * 2;

$spacer-small-vertical:    					$spacer-small;
$spacer-small-horizontal:  					$spacer-small-vertical * 2;

$margin-base:								$spacer-base;
$margin-base-vertical:						$margin-base;
$margin-base-horizontal:					$margin-base * 2;

$margin-large-vertical:						$spacer-large;
$margin-large-horizontal:  					$margin-large-vertical * 2;

$margin-small-vertical:    					$spacer-small;
$margin-small-horizontal:  					$margin-small-vertical * 2;

$padding-base-vertical:     				$spacer-base;
$padding-base-horizontal:   				$padding-base-vertical * 2;

$padding-large-vertical:    				$spacer-large;
$padding-large-horizontal:  				$padding-large-vertical * 2;

$padding-small-vertical:    				$spacer-small;
$padding-small-horizontal:  				$padding-small-vertical * 2;

$border-radius-base:        				$spacer-small;
$border-radius-large:       				$border-radius-base * 2;
$border-radius-small:       				$border-radius-base/2;

$section-padding:		 					$spacer-base 0;
$section-padding-large: 					$spacer-large 0 $spacer-base;


/* brand colors --------------------- */

$illdave-blue:								#007bff; // stolen from Bootstrap branding
$illdave-blue-dark:							#142f56;
$illdave-cyan:								#00a0e3; 
$illdave-orange:							#ff4e00; // stolen from Strava branding
$illdave-yellow:							#fdda00;
$illdave-teal:								#0083a9;
$illdave-green:								#6d8d23;


/* Bootstrap colors ----------------- */

$gray-darker:            					lighten(#000, 13.5%); // #222
$gray-dark:              					lighten(#000, 20%);   // #333
$gray:                   					lighten(#000, 33.5%); // #555
$gray-lightest:             				lighten(#000, 45%);   // #737373
$gray-light-med:             				lighten(#000, 55%);   // #bfbfbf
$gray-light:             					lighten(#000, 75%);   // #bfbfbf
$gray-light-medium:     					lighten(#000, 80%);   // #ccc
$gray-lighter:           					lighten(#000, 93.5%); // #eee

$primary:      								$purple !important; // DSM failed override
$secondary:     							$gray-600 !default;
$success:       							$green !default;
$info:          							$cyan !default;
$warning:       							$yellow !default;
$danger:        							$red !default;
$light:         							$gray-100 !default;
$dark:          							$gray-800 !default;


/* theme colors ---------------------- */

$theme-color-1:								$illdave-blue; 
$theme-color-2:								$illdave-orange;
$theme-color-3:								$illdave-cyan;
$theme-color-4:								$illdave-green;
$theme-color-5:								$illdave-yellow;
$theme-color-6:								$illdave-teal;
$theme-color-7:								darken($theme-color-3, 5%); // dark blue 

$code-color-magenta: 						#e9008c;
$code-color-green: 							#099;
$code-color-blue-deep: 						#06c;
$code-color-blue-bright: 					#9cf;
$code-color-orange: 						#f90;
$code-color-gray: 							#ccc;

$border-default-color: 						$gray-light;
$border-default: 							rem(1px solid $border-default-color);
$border-light: 								rem(1px solid $gray-light-medium);

$table-border-color:						$border-default-color;

$body-bg:									$white;
$headings-color: 							$black;
$text-color:								#212529;
$text-divider-color:						transparentize($text-color, 0.2);
$link-color:								$theme-color-1;
$link-hover-color:							lighten($link-color, 20%);
$link-active-color:							darken($link-color, 20%);

$link-img-border:							rem(1px solid $link-color);
$link-img-border-hover-color:				$link-hover-color;
$link-img-border-active-color:				$link-active-color;
$link-img-filter: 							brightness(110%) saturate(110%);

$btn-color:									$white;
$btn-bg:									$theme-color-2;
$btn-hover-color:							$white;
$btn-hover-bg:								lighten($btn-bg, 10%);
$btn-active-color:							lighten($link-color, 10%);
$btn-active-bg:								$white;

$white-glow: 								0 0 10px $white;


/* section and items ----------------- */

$section-intro-home: 						$theme-color-2;
$section-intro-comics: 						$theme-color-5;
$section-intro-about: 						lighten($theme-color-6, 60%);
$section-intro-store: 						$theme-color-7;
$section-bg:  								$white;
$section-bg-even:  							darken($section-bg, 7%);
$section-intro-bg:  						$gray-lighter;

$item-bg: 									$gray-lighter;
$item-even-bg:								$white;
$item-text-color: 							$text-color;
$item-headings-color: 						$headings-color;
$item-link-color: 							$link-color;
$item-link-color-hover: 					$link-hover-color;
$item-link-color-active: 					$link-active-color;
$item-border-color: 						transparentize($item-text-color, 0.2);

$client-details-bg:							$item-bg;
$client-details-padding: 					2rem;

$boxed-client-details-bg: 					darken($section-bg, 10%);
$boxed-client-details-even-bg: 				lighten($section-bg-even, 10%);
$boxed-client-details-padding: 				$spacer-large;

$section-bg-web-dev:  						lighten($theme-color-3, 20%);
$section-bg-graphic-design:  				lighten($theme-color-4, 20%);
$section-bg-illustration:  					lighten($theme-color-2, 15%);
$section-bg-comic-books:  					lighten($theme-color-1, 30%);
$section-bg-about:  						lighten($theme-color-6, 20%);
$section-bg-blog:  							$section-bg-about;

$section-bg-web-dev-even:  					lighten($section-bg-web-dev, 30%);
$section-bg-graphic-design-even:  			lighten($section-bg-graphic-design, 30%);
$section-bg-illustration-even:  			lighten($section-bg-illustration, 30%);
$section-bg-comic-books-even:  				lighten($section-bg-comic-books, 30%);
$section-bg-about-even:  					lighten($section-bg-about, 40%);
$section-bg-blog-even:  					$section-bg-about-even;


/* typography ------------------------ */

$default-font-weight:						normal;

$roboto-bold: 								"Roboto Bold";
$roboto-bold-italic: 						"Roboto Bold Italic";
$roboto-black: 								"Roboto Black";
$roboto-black-italic: 						"Roboto Black Italic";
$roboto-italic: 							"Roboto Italic";

$proxima-nova:		 						"Proxima Nova";
$proxima-nova-italic: 						"Proxima Nova Italic";
$proxima-nova-bold: 						"Proxima Nova Bold";
$proxima-nova-bold-italic: 					"Proxima Nova Bold Italic";

$proxima-nova-alt-regular: 					"Proxima Nova Alt";
$proxima-nova-alt-bold:						"Proxima Nova Alt Bold";
$proxima-nova-alt-condensed-semibold:		"Proxima Nova Alt Condensed Semibold";
$proxima-nova-alt-black:					"Proxima Nova Alt Black";

$opensans-regular:							"Open Sans Regular";
$opensans-bold: 							"Open Sans Bold";
$opensans-italic:							"Open Sans Italic";
$opensans-bold-italic:						"Open Sans Bold Italic";
$opensans-semibold-italic:					"Open Sans Semibold";

$comic-book-font: 							"Spinner Rack Regular";
$comic-book-font-italic: 					"Spinner Rack Italic";
$comic-book-font-bold-italic: 				"Spinner Rack Bold Italic";

$font-family-sans-serif: 					$proxima-nova,"helvetica neue", helvetica, arial, sans-serif;
$font-family-serif:       					georgia, "times new roman", times, serif;
$font-family-monospace:      				SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:        					$font-family-sans-serif;
$font-family-headers:						$proxima-nova-bold;

$font-family-italic:						$proxima-nova-italic;
$font-family-bold:							$proxima-nova-bold;
$font-family-bold-italic:					$proxima-nova-bold-italic;

$font-size-base:          					1rem;
$font-size-large:         					ceil(($font-size-base * 1.25));	// ~18px
$font-size-medium:        					ceil(($font-size-base * 1.12)); // ~16px
$font-size-small:         					90%; 

$h1-font-size:                				$font-size-base * 2.0;
$h2-font-size:                				$font-size-base * 1.6;
$h3-font-size:                				$font-size-base * 1.4;
$h4-font-size:                				$font-size-base * 1.2;
$h5-font-size:                				$font-size-base;
$h6-font-size:                				$font-size-base;

$link-hover-decoration:						none;
$text-indent-for-image:  					-9999px;


/* lightbox overrides ---------------- */

$lightbox-overlay-background: 				$black;
$lightbox-border-radius: 					0;
$lightbox-image-border: 					rem(2px solid $white);
$lightbox-data-color: 						$gray-light-med;
$lightbox-data-padding: 					0 .5rem;
$lightbox-header-color: 					$white;
$lightbox-header-font-family: 				$font-family-headers;
$lightbox-header-font-size: 				$font-size-small;
$lightbox-header-font-style: 				normal;
$lightbox-details-width: 					90%;
$lightbox-text-color: 						$lightbox-data-color;
$lightbox-text-font-size:					$lightbox-header-font-size;
$lightbox-text-line-height:					$lightbox-text-font-size * 1.1;
$lightbox-link-color: 						$link-color;
$lightbox-link-hover-color: 				$link-hover-color;
$lightbox-link-active-color: 				$link-active-color;
$lightbox-close-icon-size: 					20px;


/* z-index --------------------------- */

$zindex-navbar:            					1000;
$zindex-dropdown:          					1000;
$zindex-popover:           					1010;
$zindex-tooltip:           					1030;
$zindex-navbar-fixed:      					1030;
$zindex-modal-background: 					1040;
$zindex-modal:             					1050;


/* paths ----------------------------- */

$image-path:								unquote('../../img');
$assets-path:								unquote('../assets');
$graphic-design-image-path:					$image-path/graphic-design;
$illustration-image-path:					$image-path/illustration;
$web-dev-image-path:						$image-path/web-dev;
$layout-image-path:							$image-path/layout;
$pictures-image-path:						$image-path/pictures;
$logos-image-path:							$image-path/logos;
$graphics-image-path:						$image-path/graphics;
$blog-image-path:							$image-path/blog;
$brand-image-path:							$image-path/brand;
$open-graph-image-path:						$image-path/open-graph;


/* Font Awesome icons ---------------- */

$icon-link-color: 							$gray-light;
$icon-link-color-hover: 					$theme-color-1;
$icon-link-color-active: 					$black;

$icon-back-to-top:   						quote($fa-var-chevron-up);
$icon-learn-more:   						quote($fa-var-caret-right);
$icon-facebook:   							quote($fa-var-facebook);
$icon-twitter:   							quote($fa-var-twitter);
$icon-github:   							quote($fa-var-code-branch);
$icon-linkedin:   							quote($fa-var-linkedin);
$icon-email:   								quote($fa-var-at);

$icon-comic-nav-prev:   					quote($fa-var-chevron-circle-left);
$icon-comic-nav-next:   					quote($fa-var-chevron-circle-right);

$navbar-toggler-icon:   					quote($fa-var-bars);

$icon-prev: 								quote($fa-var-arrow-circle-left);
$icon-next: 								quote($fa-var-arrow-circle-right);


/* footer ---------------------------- */

$footer-border: 							rem(1px solid $gray-light);
$footer-bg: 								$gray-lighter;
$footer-color: 								$gray;
$footer-font-size: 							$font-size-small;
$footer-padding: 							$spacer-base-vertical $spacer-base-horizontal;


/* main navigation ------------------- */

$main-nav-bg:								#142f56;
$main-nav-border:							$border-default;

$main-nav-padding-horizontal: 				$spacer-small;
$main-nav-padding-vertical: 				$spacer-base;

$main-nav-logo: 							$white;
$main-nav-logo-hover: 						#b4becc;
$main-nav-logo-active: 						$black;

$navbar-brand:								$white;
$navbar-brand-hover:						$white-glow;
$navbar-brand-active:						$black;
$navbar-brand-font-size:					1.25rem;
$navbar-brand-padding: 						.5rem;

$main-nav-link: 							#b4becc;
$main-nav-link-hover: 						$white;
$main-nav-link-active:						$black;

$nav-link:									transparentize($white, 0.2);
$nav-link-hover:							$white;
$nav-link-current:							$white;
$nav-link-active:							$black;

$nav-link-color:							transparentize($white, 0.4);
$nav-link-bg:								transparent;
$nav-link-border:							0;

$nav-link-hover-color:						$white;
$nav-link-hover-bg:							transparent;
$nav-link-hover-border-color:				none;

$nav-link-active-color:						lighten($main-nav-bg, 50%);
$nav-link-active-bg:						transparent;
$nav-link-active-border-color:				$nav-link-active-bg;

$nav-link-curr-color:						$white;
$nav-link-curr-bg:							transparent;
$nav-link-curr-border-color:				$nav-link-curr-bg;

$navbar-icon:								$white;
$navbar-icon-hover:							$white-glow;
$navbar-icon-active:						$black;

$navbar-brand-padding-vertical: 			0;

$main-nav-brand-width: 						300px;
$main-nav-brand-width-mobile: 				260px;
$main-nav-brand-height: 					1.9rem;
$main-nav-brand-padding: 					$navbar-brand-padding;
$main-nav-brand-margin: 					0 auto;
$main-nav-brand-logo-margin: 				$main-nav-brand-margin 0;
$main-nav-x-padding: 						.5rem;
$main-navbar-padding: 						.5rem;
$main-nav-height: 							$main-nav-brand-height + 2 * $main-nav-brand-padding + 2 * $main-navbar-padding;		
$main-nav-height-mobile: 					$main-nav-height - .5rem;		


/* utility --------------------------- */

$hr-margin: 								$spacer/2;

$jumbotron-padding: 						$spacer-large $spacer-base;
$jumbotron-bg: 								$gray-lighter;
$jumbotron-border-radius: 					0;

$photo-circle-lg: 							20rem;
$photo-circle-md: 							18rem;
$photo-circle-sm: 							14rem;
$photo-circle-xs: 							10rem;
$circle-border-radius: 						50%;

$caption-bg: 								transparentize($black, 0.1);
$caption-color: 							lighten($caption-bg, 70%);
$caption-headings-color: 					$white;
$caption-padding: 							$spacer-base;
$caption-line-height: 						$font-size-base;

$picture-caption-bg: 						$caption-bg;
$picture-caption-color: 					$caption-color;
$picture-caption-link: 						$white;
$picture-caption-strong:					$theme-color-5;

$comic-book-img-border: 					rem(1px solid $gray);
$comic-book-thumbnail-bg: 					transparent;
$comic-book-thumbnail-margin-bottom: 		$spacer-large;
$comic-book-thumbnail-image-bg: 			white center center no-repeat;
$comic-book-thumbnail-image-border: 		$comic-book-img-border;
$comic-book-thumbnail-image-margin-bottom:	$spacer-small;

$code-font: 								$font-family-monospace;
$code-soup-color: 							$code-color-magenta;
$code-soup-divider: 						$code-color-gray;

$contact-card-bg: 							$theme-color-2;
$contact-card-text-color: 					lighten($contact-card-bg, 40%);
$contact-card-headings-color: 				$text-color;
$contact-card-link-color: 					$contact-card-text-color;
$contact-card-link-hover-color: 			$white;
$contact-card-link-active-color: 			darken($contact-card-bg, 13.5%);
$contact-card-padding: 						1rem 1.5rem;


/* profiles -------------------------- */

$profile-bg: 								darken($section-bg, 10%);
$profile-image-border: 						rem(6px solid $profile-bg);
$profile-image-bg: 							transparent center center no-repeat;
$profile-image-size: 						10rem;
$profile-image-zindex: 						800;
$profile-text-bg: 							$profile-bg;
$profile-text-padding: 						$spacer-large;
$profile-text-zindex: 						700;
$profile-headers-color: 					$white;
$profile-link-color: 						lighten($profile-bg, 13.5%);

$profile-bg-inky-stories: 					$theme-color-2;
$profile-bg-inky-stories-text-color: 		lighten($profile-bg-inky-stories, 40%);
$profile-bg-inky-stories-link-color: 		$profile-headers-color;
$profile-bg-art-of-comicbook: 				$theme-color-3;
$profile-bg-art-of-comicbook-text-color: 	lighten($profile-bg-art-of-comicbook, 50%);
$profile-bg-art-of-comicbook-link-color: 	$profile-headers-color;


