/* web design and development --------- */

.web {
	.mas-client {
		&:last-child {
		}
	}
	section {
		&.picture-header {
			background-color: $section-bg-web-dev;
			background-image: url("#{$layout-image-path}/section-bg-web-dev.png");
			.image {
				background-image: url("#{$pictures-image-path}/dave-at-agencyport-10.jpg");
				background-position: 0 center;
			}
		}
		
		&.even {
			background-color: $section-bg-web-dev-even;
		}
			
		&.capabilities {
			padding: $spacer-large 0;
			min-height: 0;
			.item {
				background: transparent;
				padding: 0;
				margin-bottom: 0;
				p {
					text-align: center;
				}
			}
			dl {
				dt {
					font-size: $h3-font-size;
				}
				dd {
				}
			}
		}	
	}
	.client-image {
		img {
			border: $border-default;
		}	
	}
	
	.client-details {
		background: $item-bg;
		padding: $client-details-padding;
		color: $item-text-color;
		margin-bottom: 1.5rem;
		h3 {
			color: $item-headings-color;
			margin-bottom: .5rem;
			text-align: center;
		}
		p {
			&.footnote {
				margin-bottom: 0;
			}
		}
		.project-date {
			font-family: $font-family-bold;
			margin-right: .25rem;
		}
	}	
	.mas-client {
		&.clients  {
			padding: $spacer-large 0;
			.row .col .row .col {
				min-height: 0;
				margin: 0 $spacer-base;
			}
			
			.client-image {
				background: $white;
				padding: 0;
				min-height: 0;
				margin-bottom: $spacer-base;
				img {
					margin: 0;
					border: 0;
				}
			}
			.client-details {
				margin-bottom: 0;
			}
		}
	}
}


