<!DOCTYPE html>
<html lang="en-US">
	<head>
		<!-- Copyright 1986-2025 Marshall Art Studio -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Marshall Art Studio: Illustration</title>
		<meta name="author" content="Dave Marshall" />
		<meta name="description" content="Marshall Art Studio is Dave Marshall's contractor identity for creative illustration, graphics, information, and user experience design solutions." />
		<meta name="keywords" content="Dave Marshall, Marshall Art Studio, illdave, commercial art, creative services, illustration, graphic design, comic book art, infographics, information design, freelance illustration, freelance design, logo design, corporate identity, brand, print media, web design, web development, front end web development, ux/ui designer, ux/ui developer" />
		<link href="/assets/themes/illdave/illdave.css" type="text/css" rel="stylesheet">	
		<script src="/assets/themes/illdave/illdave.js" type="text/javascript"></script>
		<link href="/assets/img/brand/mas.ico" type="image/x-icon" rel="icon">
		
		<meta property="og:title"        content="Marshall Art Studio: Illustration">
		<meta property="og:type"         content="article">
		<meta property="og:description"  content="Illustrations for corporate, editorial, and educational clients by me, Dave Marshall">
		<meta property="og:url"          content="http://www.illdave.com/illustration">
		<meta property="og:image"        content="http://www.illdave.com/assets/img/open-graph/og-dave-drawing.png">
	</head>
		<body class="dark-mode"><!-- Marshall Art Studio 8.0 -->
		<header class="main-navigation fixed-top" role="banner">
			<a href="#main-content" class="visually-hidden-focusable">Skip Content</a>
			<div class="navbar navbar-expand-lg">
				<a class="navbar-brand" href="../index.html" target="_top" aria-label="marshall-art-studio">
					Marshall Art Studio
					<span class="mas-logo gliff"></span>
					<span class="mas-logo type"></span>
				</a>
				<button class="navbar-toggler" 
					type="button" 
					data-bs-toggle="collapse" 
					data-bs-target="#main-menu" 
					aria-controls="main-menu" 
					aria-expanded="false" 
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<span class="sr-only">Toggle menu navigation</span>
					</span>
				</button>			
				<div class="collapse navbar-collapse justify-content-end" id="main-menu">
					<ul class="navbar-nav bd-navbar-nav d-flex ">
						<li class="nav-item home sr-only">
							<a class="nav-link" href="../index.html">Home</a>
						</li>
						<li class="nav-item web">
							<a class="nav-link" href="../web-dev/index.html">Web Dev &amp; Design</a>
						</li>
						<li class="nav-item graphic-design">
							<a class="nav-link" href="../graphic-design/index.html">Graphic Design</a>
						</li>
						<li class="nav-item illustration active">
							<a class="nav-link" href="../illustration/index.html">Illustration</a>
						</li>
						<li class="nav-item comics">
							<a class="nav-link" href="../comics/index.html">Comics</a>
						</li>
						<li class="nav-item current" hidden>
							<a class="nav-link" href="../projects/index.html">Current Projects</a>
						</li>
						<li class="nav-item about">
							<a class="nav-link" href="../about/index.html">About</a>
						</li>
						<li class="nav-item sketchbook">
							<a class="nav-link" href="../sketchbook/index.html">Sketchbook</a>
						</li>
						<li class="nav-item blog">
							<a class="nav-link" href="../blog/index.html">Blog</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<main class="mas-content illustration" role="main" id="main-content">
			<section class="intro">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-lg-4">
							<figure class="no-border centered no-caption">
								<img src="/assets/img/sketchbook/theme.jpg" alt="the portable drafting board I've had since 1984">
							</figure>
						</div>
						<div class="col-md-12 col-lg-8">
							<div class="text">
								<h1>Sketchbook</h1>
								<p>INTRO</p>
							</div>
						</div>
					</div>				
				</div>
			</section>
			<section class="gallery">
				<div class="container">
					<div class="row" hidden>
						<div class="col-md-3">
							<figure class="images-have-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/tall.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/tall.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
						<div class="col-md-3" hidden>
							<figure class="images-have-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/wide.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/wide.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
					</div>
					
					<h2>Row of six tall sketchbook pages</h2>
					<div class="row">
						<div class="col-6 col-md-2">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/tall.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/tall.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
						<div class="col-6 col-md-2">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/tall.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/tall.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
						<div class="col-4 col-md-2">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/tall.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/tall.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
						<div class="col-4 col-md-2">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/tall.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/tall.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
						<div class="col-4 col-md-2">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/tall.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/tall.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
						<div class="col-4 col-md-2">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/tall.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/tall.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
					</div>
					
					<h2>Row of three wide sketchbook pages</h2>
					<div class="row">
						<div class="col-md-4">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/wide.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/wide.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
						<div class="col-4 col-md-4">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/wide.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/wide.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
						<div class="col-4 col-md-4">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/wide.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/wide.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
					</div>
					
					<h2>Row of four wide sketchbook pages</h2>
					<div class="row">
						<div class="col-md-3">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/wide.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/wide.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
						<div class="col-4 col-md-3">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/wide.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/wide.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
						<div class="col-4 col-md-3">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/wide.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/wide.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
						<div class="col-4 col-md-3">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/wide.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/wide.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
					</div>
					
					<h2>Row of four tall sketchbook pages</h2>
					<div class="row">
						<div class="col-4 col-md-3">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/tall.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/tall.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
						<div class="col-4 col-md-3">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/tall.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/tall.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
						<div class="col-4 col-md-3">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/tall.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/tall.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
						<div class="col-4 col-md-3">
							<figure class="images-have-border no-border">
								<picture>
									<a href="/assets/img/sketchbook/fpo/tall.jpg" data-lightbox="FPO" data-title="">
										<img src="/assets/img/sketchbook/fpo/tall.jpg" alt="INFO" />
									</a>
								</picture>								
							</figure>							
						</div>
					</div>
					
				</div>
			</section>	
		</main>
		<footer>
			<div class="text">
				<p>
					Copyright &copy; 1986-<script>document.write(new Date().getFullYear())</script> Marshall Art Studio. All rights reserved. The material may not, under any circumstances, be resold or redistributed for compensation of any kind without prior written permission from Marshall Art Studio nor may the information be used in any commercial venue without such prior written permission. For more information, please <a href="mailto:dmarshall@illdave.com?subject=Tell me about Marshall Art Studio!" aria-label="Marshall Art Studio email">contact us here</a>. Version 8.0.1
				</p>
				<div class="social">
					<ul class="list-inline">
						<li class="follow-me d-none d-sm-inline-block">Follow me on </li>
						<li class="email"><a href="mailto:dmarshall@illdave.com?subject=Tell me about Marshall Art Studio!" aria-label="Marshall Art Studio email"><span>Email</span></a></li>
						<li class="linkedin"><a href="https://www.linkedin.com/in/illdave" target="_blank" rel="noopener noreferrer" aria-label="David Marshall on Linkedin"><span>Linkedin</span></a></li>
						<li class="bluesky"><a href="https://bsky.app/profile/illdave.bsky.social" target="_blank" rel="noopener noreferrer" aria-label="David Marshall on Bluesky"><span>Bluesky</span></a></li>
						<li class="github"><a href="https://github.com/illdave" target="_blank" rel="noopener noreferrer" aria-label="Marshall Art Studio on Github">Github</a></li>
					</ul>
				</div>
				<p class="back-to-top sr-only sr-only-focusable">
					<a href="#main-content">Back to top<i class="fas"></i></a>
				</p>
			</div>
		</footer>
		
		<div class="hidden-lightbox-content" hidden>
		</div>
		
		<script src="/assets/themes/bootstrap-5/js/bootstrap.min.js"></script>
		<script src="/assets/lib/jquery/jquery-3.3.1.min.js"></script>
		<script src="/assets/lib/lightbox-2.11.1/js/lightbox.js"></script>		
	</body>
</html>
