#left a img, #left a:visited img  			{background-image: url(../images/family/leftoff.gif); visibility: visible;}
#left a:hover img 							{background-image: url(../images/family/lefton.gif);  visibility: visible;}

#topmid a img, #topmid a:visited img  		{background-image: url(../images/family/topmidoff.gif); visibility: visible;}
#topmid a:hover img 						{background-image: url(../images/family/topmidon.gif);  visibility: visible;}

#topmid2 a img, #topmid2 a:visited img  	{background-image: url(../images/family/topmid2off.gif); visibility: visible;}
#topmid2 a:hover img 						{background-image: url(../images/family/topmid2on.gif);  visibility: visible;}

#topmid3 a img, #topmid3 a:visited img  	{background-image: url(../images/family/topmid3off.gif); visibility: visible;}
#topmid3 a:hover img 						{background-image: url(../images/family/topmid3on.gif);  visibility: visible;}

#topright a img, #topright a:visited img  	{background-image: url(../images/family/toprightoff.gif); visibility: visible;}
#topright a:hover img 						{background-image: url(../images/family/toprighton.gif);  visibility: visible;}

#botmid a img, #botmid a:visited img  		{background-image: url(../images/family/botmidoff.gif); visibility: visible;}
#botmid a:hover img 						{background-image: url(../images/family/botmidon.gif);  visibility: visible;}

#botright a img, #botright a:visited img  	{background-image: url(../images/family/botrightoff.gif); visibility: visible;}
#botright a:hover img 						{background-image: url(../images/family/botrighton.gif);  visibility: visible;}
