/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Best Practice Table;
	border-collapse: collapse;
	max-id: 3;
	background-color: #dcdcdc;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Best_Practice_Table
{
	border-collapse: collapse;
	background-color: #dcdcdc;
	border-spacing: 0px 0px;
}

.TableStyle-Best_Practice_Table-Column-Column1
{
	
}

.TableStyle-Best_Practice_Table-Head-Header1
{
	
}

.TableStyle-Best_Practice_Table-HeadI-Column1-Header1
{
	
}

.TableStyle-Best_Practice_Table-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Best_Practice_Table-HeadE-Column1-Header1
{
	
}

.TableStyle-Best_Practice_Table-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Best_Practice_Table-HeadF-Column1-Header1
{
	
}

.TableStyle-Best_Practice_Table-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Best_Practice_Table-HeadH-Column1-Header1
{
	
}

.TableStyle-Best_Practice_Table-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Best_Practice_Table-HeadD-Column1-Header1
{
	
}

.TableStyle-Best_Practice_Table-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Best_Practice_Table-HeadC-Column1-Header1
{
	
}

.TableStyle-Best_Practice_Table-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Best_Practice_Table-HeadB-Column1-Header1
{
	
}

.TableStyle-Best_Practice_Table-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Best_Practice_Table-HeadA-Column1-Header1
{
	
}

.TableStyle-Best_Practice_Table-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Best_Practice_Table-HeadG-Column1-Header1
{
	
}

.TableStyle-Best_Practice_Table-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Best_Practice_Table-Foot-Footer1
{
	
}

.TableStyle-Best_Practice_Table-FootI-Column1-Footer1
{
	
}

.TableStyle-Best_Practice_Table-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Best_Practice_Table-FootE-Column1-Footer1
{
	
}

.TableStyle-Best_Practice_Table-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Best_Practice_Table-FootF-Column1-Footer1
{
	
}

.TableStyle-Best_Practice_Table-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Best_Practice_Table-FootH-Column1-Footer1
{
	
}

.TableStyle-Best_Practice_Table-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Best_Practice_Table-FootD-Column1-Footer1
{
	
}

.TableStyle-Best_Practice_Table-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Best_Practice_Table-FootC-Column1-Footer1
{
	
}

.TableStyle-Best_Practice_Table-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Best_Practice_Table-FootB-Column1-Footer1
{
	
}

.TableStyle-Best_Practice_Table-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Best_Practice_Table-FootA-Column1-Footer1
{
	
}

.TableStyle-Best_Practice_Table-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Best_Practice_Table-FootG-Column1-Footer1
{
	
}

.TableStyle-Best_Practice_Table-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Best_Practice_Table-Body-Body1
{
	
}

.TableStyle-Best_Practice_Table-BodyI-Column1-Body1
{
	
}

.TableStyle-Best_Practice_Table-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Best_Practice_Table-BodyE-Column1-Body1
{
	
}

.TableStyle-Best_Practice_Table-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Best_Practice_Table-BodyF-Column1-Body1
{
	
}

.TableStyle-Best_Practice_Table-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Best_Practice_Table-BodyH-Column1-Body1
{
	
}

.TableStyle-Best_Practice_Table-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Best_Practice_Table-BodyD-Column1-Body1
{
	
}

.TableStyle-Best_Practice_Table-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Best_Practice_Table-BodyC-Column1-Body1
{
	
}

.TableStyle-Best_Practice_Table-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Best_Practice_Table-BodyB-Column1-Body1
{
	
}

.TableStyle-Best_Practice_Table-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Best_Practice_Table-BodyA-Column1-Body1
{
	
}

.TableStyle-Best_Practice_Table-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Best_Practice_Table-BodyG-Column1-Body1
{
	
}

.TableStyle-Best_Practice_Table-BodyG-Column1-Body1 p
{
	
}


