<!DOCTYPE html>
<html>
	<head>
		<!-- Copyright 1986-2021 Marshall Art Studio -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Marshall Art Studio 8.0: Debug</title>
		<meta name="title" content="Marshall Art Studio 8.0: Debug" />
		<link href="../assets/themes/illdave/illdave.css" type="text/css" rel="stylesheet">	
		<script src="../assets/themes/illdave/illdave.js" type="text/javascript"></script>
		<link href="../assets/img/brand/mas.png" type="image/x-icon" rel="icon">
	</head>
	<body class="dark-mode"><!-- Marshall Art Studio 8.0 -->

		<main class="mas-content bd-content illustration" role="main">
		
<section class="section-intro">
	<div class="container">
		<h1>Marshall Art Studio 8.0: Debug</h1>
		<p>Either responsive or accessibility.</p>
	</div>
</section>

<section class="debug gallery no-margin">
	<div class="container">
		<div class="gallery">
			<div class="mcgraw-hill-guias">
				<div class="frame">
					<a href="../assets/img/illustration/mcgraw-hill-guias.jpg" role="image" aria-label="McGraw-Hill, Guias illustration" data-lightbox="mcgraw-hill-guias" data-title="McGraw-Hill, Guias (2004): Feature art for a web-based interactive Spanish project. Art was used for internet and print environments.">
						<div class="caption">
							<h3>Educational</h3>
							<p><span class="title">McGraw-Hill: Guias</span> <span class="details">(2004) Feature art for a web-based interactive Spanish project. Art was used for internet and print environments.</span></p>
						</div>
					</a>
				</div>
			</div>
			<h2>Lightbox Debug</h2>
			<p>Can't get VoiceOver to read the proper info. It's reading the fucking file name!</p>
			<p>Solution: putting role="image" and an aria-label in the anchor tag.</p>
		</div>
	</div>
</section>

<section class="debug">
	<div class="container">
		<h2>H2 HEADER</h2>
		<p>FOO.</p>
	</div>
</section>

		</main>
		<script src="../assets/themes/bootstrap-5/js/bootstrap.min.js"></script>
		<script src="../assets/lib/jquery/jquery-3.3.1.min.js"></script>
		<script src="../assets/lib/lightbox-2.11.1/js/lightbox.js"></script>		
	</body>
</html>
